/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'foundation-icons';

body {
  background: url('bg.png');
  padding: 40px 10px 10px 10px;
  height: 2150px;
  width: 850px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  background-color: #fff;
  color: #111;
  font-size: 14px;
  line-height: 18px;
}

.social_buttons {
  width: 158px;
  float: right;
}

.social_buttons a {
  text-decoration: none;
  width: 20px!important;
  height: 20px!important;
  display: inline-block;
  opacity: .6;
  overflow: visible;
  font-size: 20px;
  padding: 0;
  margin: 8px 5px 0px 5px;
  -webkit-transition: opacity .2s linear;
  &:visited {
    color: #333;
  }
  &:hover {
    color: #333;
    opacity: 1.0;
    background-color: #fff;
  }

}


.header {
  font-family: 'Faster One', cursive;
  padding: 0px 0px 20px 0px;
  text-decoration: none;
  display: inline-block;
  opacity: .85;
  overflow: visible;
  font-size: 34px!important;
  padding: 0;
  margin: 0px 5px 75px 5px;
  color: #111;
  -webkit-transition: opacity .2s linear;
  &:visited {
    color: #111;
  }
  &:hover {
    color: #111;
    opacity: 1.0;
    background-color: #fff;
  }
}

.header img.logo {
  height: 32px;
  margin-right: 15px;
  position: relative;
  top: 6px;
}

div.post {
  margin: 4px 3px 100px 3px;
}

div.post_body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px!important;
  border-bottom: 1px solid;
  border-bottom-style: dotted;
  border-color: #D9D9D9;
  padding: 20px 0;
  margin: 4px 3px 10px 3px;
}

.post_title {
  font-family: 'Wendy One', sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.5em;
  padding-left: 0%;
  text-transform: uppercase;
  margin-bottom: 0.1em;
  border-bottom: dotted 1px #D9D9D9;
  border-top: dotted 1px #D9D9D9;
}

.header a {
  padding: 15px 18px 17px 6px;
}

a {
  padding: 2px 2px 2px 2px;
  color: #111;
  &:visited {
    color: #111;
  }
  &:hover {
    color: #fff;
    background-color: #111;
  }
}

p, ol, ul, td {
  font-size: 1.125em;
  font-size: 12px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  overflow: auto;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

footer {
  border-top: 1px solid;
  margin-top: 50px;
  font-size: smaller;
  a {
    text-decoration: none;
  }
}

.page_load_time {
  float: right;
}

.delta_domain_epsilon {
  margin-right: 10px;
}
