/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding: 40px 10px 10px 10px;
  width: 748px;
  margin: 0 auto;
  font-family: 'Expletus Sans', cursive;
}


.header {
  padding: 0px 0px 20px 0px;
}

.header img.logo {
  height: 18px;
  margin-right: 10px;
}

div.post_body {
  border-bottom: 1px solid;
  border-bottom-style: dotted;
  border-color: #D9D9D9;
  padding: 20px 0;
  margin: 4% 3% 4% 3%;
}

.post_title {
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.5em;
  padding-left: 0%;
  text-transform: uppercase;
  margin-bottom: 0.1em;
  border-bottom: dotted 1px #D9D9D9;
  border-top: dotted 1px #D9D9D9;
}

